<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Film-drama</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="static/styles/filmovi.css">
	<link rel="stylesheet" href="static/styles/popup_izlasci.css">
	<link rel="shortcut icon" href="static/styles/Slike/logo1.png" type="image/x-icon"/>
</head>
<body>
	<div class="navbar">
			<a href="odjava">Odjava <i class="fa fa-sign-out"></i></a>
			<a href="moja_lista">Moja lista <i class="fa fa-list" aria-hidden="true"></i></a>
		<div class="subnav">
			<button class="subnavbtn">Društvene igre<i class="fa fa-chevron-down"></i></button>
			<div class="subnav-content">
				<a href="kartaske"><i class="fa fa-heart"></i> Kartaške igre</a>
				<a href="ploca"><span class="iconify" data-icon="fa-solid:chess-knight"></span> Igre na ploči</a>
			</div>
		</div> 
		<div class="subnav">
			<button class="subnavbtn">Filmovi<i class="fa fa-chevron-down"></i></button>
			<div class="subnav-content">
				<a href="triler">Triler</a>
				<a href="komedija">Komedija</a>
				<a href="horor">Horor</a>
				<a href="drama">Drama</a>
				<a href="akcija">Akcija</a>
			</div>
		</div> 
		<div class="subnav">
				<button class="subnavbtn">Izlazak <i class="fa fa-chevron-down"></i></button>
			<div class="subnav-content">
				<a href="slasticarna"><i class="fa fa-birthday-cake"></i> Slastičarne</a>
				<a href="nocni_klubovi"><i class="fa fa-music"></i> Noćni klubovi</a>
				<a href="kafic"><i class="fa fa-glass"></i> Kafići</a>
				<a href="restorani"><i class="fa fa-cutlery"></i> Restorani</a>
			</div>
		</div>
		<img src="static/styles/Slike/logo.png" alt="logo" class="logo">
	</div>
	<div class="loginbox">
	
		<h2>Pretraži drame:</h2><br>
		
		<form class="gumb" method="POST" name="vform" action ="/unos_filma" enctype="multipart/form-data">
			<input type="text" id= "trazilica" name="originalni_naziv" placeholder="Unesi film koji želiš prikazati" required>
			<button  id="trazi" type="submit"><i class="fa fa-search"></i></button>
		</form>
		
		<h3>Ponude koje možete pretražiti!</h3>
		<div class="row">
			<div class="column">
				<a id="1" onclick="klikni(this)" naziv-slike="Arrival"><img src="https://prod.cdn.bbaws.net/TDC_Blockbuster_-_Production/543/264/SO-14160_po-reg-medium_orig.jpg" onClick="pregled" width="200" height="200"></a>
				<p class="velicina">Arrival</p>
			</div>		
			<div class="column">
				<a id="2" onclick="klikni(this)" naziv-slike="Notebook"><img src="https://upload.wikimedia.org/wikipedia/en/8/86/Posternotebook.jpg" width="200" height="200"></a>
				<p class="velicina">Notebook</p>
			</div>
		</div>
		<img class="dodaj2" onClick="otvori()">
		<div class="form-popup" id="forma">
		
			<form class="form-container" method="POST" name="vform" action ="/akcija" enctype="multipart/form-data">
			
				<label for="kategorija"><b>Naziv kategorije:</b></label> 
				<select name="kategorija" class="tag">
					<option value="Akcija">Akcija</option>
					<option value="Drama">Drama</option>
					<option value="Horor">Horor</option>
					<option value="Komedija">Komedija</option>
					<option value="Triler">Triler</option>
				</select><br><br>
				
				<label name="originalni_film"><b>Originalni naziv filma:</b></label>
				<input type="text" name="originalni_film" placeholder="Unesi naziv filma" required>
	
				<label name="godina"><b>Godina izdavanja:</b></label>
				<input type="text" name="godina" placeholder="Unesi godinu izdavanja filma" required>
	
				<label name="redatelj"><b>Redatelj:</b></label>
				<input type="text" name="redatelj" placeholder="Unesi redatelja" required>
	
				<label name="opis_filma"><b>Opis filma:</b></label>
				<input type="text" name="opis_filma" placeholder="Unesi opis filma" required>
				
				<label name="trailer"><b>Link od trailera:</b></label>
				<input type="text" name="trailer" placeholder="Unesi link od trailera" required>
				
				<label name="poster"><b>URL postera filma:</b></label>
				<input type="text" name="poster" placeholder="Unesi URL postera filma" required>
				
				<label><b>Dodaj poster filma:</b></label>

				<input type="file" name="image" id="image" accept="image/*"/>
				<br><br>
				
				<input type="submit" value="Spremi" onclick="clicked()" class="btn">
				<button type="button" class="btn cancel" onclick="zatvori()">Odustani</button>
			</form>
		<div id='theParent' class='center_the_stuff'></div>
	</div>
</div>
	<script type="text/javascript" src="static/styles/popup_izlasci.js"></script>
	<script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>
</body>
</html>
