<!DOCTYPE html> 
<html> 
<head> 
<title>Prijava</title> 
    <meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="static/styles/prijava.css">
	<link rel="shortcut icon" href="static/styles/Slike/logo1.png" type="image/x-icon"/>
</head> 
<body> 
	<div class="loginbox">
	<img src="static/styles/Slike/contact.png" class="korisnik">
		<h1>Prijava</h1> 
		<form method="POST" name="vform">
			<p>E-mail:</p> 
			<input type="text" name="email" placeholder="Unesi E-mail adresu">
			<p>Lozinka</p> 
			<input type="password" name="lozinka" placeholder="Unesi lozinku">
			<input type="Submit" value="Prijavi se" onClick="clicked()">
			<a href="registracija">Nemaš korisnički račun?</a>
		</form> 
	</div>
	<script type="text/JavaScript" src="static/styles/prijava.js"></script>
</body>

</html> 

