body{
	margin: 0; 
	padding: 0; 
	background: url(Slike/pozadina.jpg)no-repeat center fixed; 
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	font-family: sans-serif; 
}
.loginbox{
	width: 500px; 
	height: 680px; 
	background: #000000; 
	color: #fff; 
	top: 50%;  
	left: 50%; 
	position: absolute; 
	transform: translate(-50%,-50%); 
	box-sizing: border-box; 
	padding: 50px 30px; 
}
.korisnik{
	width: 130px; 
	height: 130px;
	border-radius: 30%; 
	position: absolute; 
	top: -5%; 
	left: calc(50% - 70px); 
}
h1{
	margin: 0px; 
	top: 40%;
	padding: 60px 0 30px; 
	text-align: center; 
	font-size: 40px; 
}

.loginbox input{
	width: 90%; 
	margin-bottom: 10px; 
	border: none; 
	border-bottom: 1px solid #fff; 
	background: transparent; 
	outline: none; 
	height: 40px; 
	color: #fff; 
	font-size: 16px; 
}
.pogresni_unos{
	border: 1px solid red; 
}
.val_error{
	color: #FF1F1F; 
}
.button{
	padding: 7px; 
	width: 50%; 
	margin-bottom: 10px; 
}